<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>BioCR</title>
        <meta charset="UTF-8"/>
        <link href="/css/menudesplegable.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
   
    <body>
        
        
<header th:fragment="header" class="header">
    
            <nav class="navbar navbar-expand-sm p-2"  style="font-size: 20px;">
                <div class="container"> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                    <a th:href="@{/}" class="navbar-brand ">Biodiversity Preservation CR</a>
                    
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav" sec:authorize="hasRole('ROLE_VENDEDOR')">
                            <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link" th:href="@{/cliente/listado}"
                                   th:text="#{plantilla.clientes}">Clientes</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link" th:href="@{/categoria/listado}"
                                   th:text="#{plantilla.categorias}">Categorias</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link" th:href="@{/articulo/listado}"
                                   th:text="#{plantilla.articulos}">Articulos</a>
                            </li>
                            <li class="nav-item px-2"  sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-menu-link nav-link" th:href="@{/usuario/listado}"
                                   th:text="#{plantilla.usuarios}">Usuarios</a>
                            </li>
                            <li class="nav-item px-2"  sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-menu-link nav-link" th:href="@{/usuario/consultas}"
                                   th:text="#{plantilla.consulta}">Consultas</a>
                            </li>
                        </ul>
                        <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">
                            <li class="nav-item mr-3">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-user"></i>
                                    <span th:text="#{plantilla.bienvenido}">[[#{plantilla.bienvenido}]]</span>
                                    <span sec:authentication="name">Usuario</span>
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <form method="POST" th:action="@{/logout}">
                                    <a href="#" 
                                       onclick="this.parentNode.submit();" 
                                       class="nav-link">
                                        <i class="fas fa-user-times"></i> [[#{plantilla.logout}]]
                                    </a>
                                </form>
                            </li>
                        </ul>
                        
                    </div>                    
                </div>
            </nav>
    <hr>
    
        </header>
           
        
     <aside>
    <!-- Menú desplegable -->
    <div class="menu">
       &nbsp; <img src="/img/imgCR.png" height="80"/>
    
        <ul sec:authorize="!isAuthenticated()" class="navbar-nav ml-auto">                            
                            <li class="nav" >
                                <form method="POST" th:action="@{/login}" >
                                    <a href="#" onclick="this.parentNode.submit();" >
                                        <i></i> [[#{login.login}]]
                                    </a>
                                </form>
                            </li>
                        </ul>
       
              
        <a href="/registro.html">Registro</a>             
        <a href="/#">Inicio</a>
        <a href="/detCompra.html">Compra</a>  
        <a href="/metPago.html">Metodo de pago</a>  
         <a href="/#">Carrito</a>   
      <a href="#">Ofertas Especiales</a>
      <div class="dropdown">
      <a href="#">Parques Nacionales</a>
      <div class="dropdown-content">
          <a href="#">Parque Nacional Manuel Antonio </a>
          <a href="#">Parque Nacional Marino Ballena</a>
          <a href="#">Parque Nacional Cahuita</a>
          <a href="#">Parque Nacional Marino las baulas</a>
          <a href="#">Parque Nacional chirripo</a> 
        </div>
      </div>
      <div class="dropdown">
      <a href="#">Bosques</a> 
      <div class="dropdown-content">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
        </div>
      </div>
      <div class="dropdown">
      <a href="#">Playas</a>
      <div class="dropdown-content">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#">Tours Disponibles</a>
        <div class="dropdown-content">
          <a href="#">Alajuela</a>
          <a href="#">San José</a>  
          <a href="#">Guanacaste</a>
          <a href="#">Puntarenas</a>
          <a href="#">Limón</a>
          <a href="#">San Carlos</a>
        </div>
      </div>
        
        <div class="dropdown">
        <a href="#">Hospedaje</a>
        <div class="dropdown-content">
          <a href="#">Hotel</a>
          <a href="#">Arbnb</a>  
          <a href="#">Hostel</a>
          <a href="#">Cabinas</a>
          <a href="#">Camping</a>
        </div>
      </div>
        
        <div class="dropdown">
        <a href="#">Restaurantes/Bar</a>
        <div class="dropdown-content">
          <a href="#">Alajuela</a>
          <a href="#">San José</a>  
          <a href="#">Guanacaste</a>
          <a href="#">Puntarenas</a>
          <a href="#">Limón</a>
          <a href="#">San Carlos</a>
        </div>
      </div>
        <a href="/ubicacion.html">Ubicación Biodivers...</a>
        <a href="/ayuda.html">Ayuda</a>
        </div>
     </aside>

     <center>                               
             <footer th:fragment="footer" class=" text-white mt-5 p-1">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">&COPY; [[#{plantilla.derechos}]] |
                        <a th:href="@{/(lang=es)}">ES</a> |
                        <a th:href="@{/(lang=en)}">EN</a>
                    </p>
                </div>
            </div>
        </footer>
 </center>
    </body>
</html>
