<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://wwww.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
    <title>BioCR</title>
    <meta charset="UTF-8"/>
      </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

<section th:replace="categoria/fragmentosCategoria :: botonesAgregar"/>
<section th:replace="categoria/fragmentosCategoria :: agregarCategoria"/>
<section th:replace="categoria/fragmentosCategoria :: listadoCategorias"/>

<footer th:replace="layout/plantilla :: footer" />
    </body>
</html>